<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PhoneShopDBConnectionString"
			 connectionString="Server=.\SQLEXPRESS;Database=PhoneShop;Trusted_Connection=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
